@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~react-toastify/scss/main';

#root {
    width: 99vw;
    height: 100vh;
}

html {
    margin: 0px !important;
}
.main-header .navbar-nav .nav-item .nav-link {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-nav > .user-menu .user-image {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0;
    margin-left: -8px;
}

.hidden {
    display: none;
}

.a-sort {
    float: left;
    padding-left: 30px;
}

.modal-70w {
    max-width: 70% !important;
    max-height: 70% !important;
}
.modal-25w {
    max-width: 25% !important;
    max-height: 70% !important;
}
.modal-20w {
    max-width: 20% !important;
    max-height: 70% !important;
}



label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
    padding-top: 10px;
}

.modal-content {
    border-top: 3px solid #008000;
}

.paddingLeft-1 {
    float: right;
    padding-left: 30px !important;
}

.table td,
.table th {
    vertical-align: middle !important;
}

.label-center {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.05em;
}


// // drag table css 처리
.ant-table-thead {
    display: none;
}


.ant-table-tbody > tr > td {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.ant-table-row td:last-child {
    text-align: right;
}
